<form [formGroup]="loginForm">
	<div class="form-group" class="mb-3">
		<mat-form-field>
			<mat-label for="username">EMAIL</mat-label>
			<input type="text" id="username" formControlName="email">
			@if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched))
			{
			@if (loginForm.get('email')?.errors?.['required']) {
			<mat-error>Email é obrigatório.</mat-error>
			}
			@if (loginForm.get('email')?.errors?.['email']) {
			<mat-error>Email inválido.</mat-error>}
			}
		</mat-form-field>
	</div>
	<div class="form-group">
		<mat-form-field>
			<mat-label for="senha">SENHA</mat-label>
			<input type="password" id="senha" formControlName="senha">
			@if (loginForm.get('senha')?.invalid && (loginForm.get('senha')?.dirty || loginForm.get('senha')?.touched))
			{
				@if (loginForm.get('senha')?.errors?.['required']) {
				<mat-error>Senha é obrigatória.</mat-error> }
			}
		</mat-form-field>
	</div>
	<button type="submit" class="btn btn-primary">Login</button>
	<button type="button" class="btn btn-secondary" routerLink="/cadastro">Cadastrar</button>
</form>