<form [formGroup]="cadastroForm">
	<div class="form-group">
		<mat-form-field>
			<mat-label for="nome">NOME</mat-label>
			<input type="text" id="nome" formControlName="nome">
			@if (cadastroForm.get('nome')?.invalid && (cadastroForm.get('nome')?.dirty ||
			cadastroForm.get('nome')?.touched)) {
			@if (cadastroForm.get('nome')?.errors?.['required']) {
			<mat-error>Nome é obrigatório.</mat-error>
			}}
		</mat-form-field>
	</div>
	<div class="form-group">
		<mat-form-field>
			<mat-label for="email">EMAIL</mat-label>
			<input type="text" id="email" formControlName="email">
			@if (cadastroForm.get('email')?.invalid && (cadastroForm.get('email')?.dirty ||
			cadastroForm.get('email')?.touched)) {
			@if (cadastroForm.get('email')?.errors?.['required']) {
			<mat-error>Email é obrigatório.</mat-error> }
			@if (cadastroForm.get('email')?.errors?.['email']) {
			<mat-error>Email inválido.</mat-error> }
			}
		</mat-form-field>
	</div>
	<div class="form-group">
		<mat-form-field>
			<mat-label>CPF</mat-label>
			<input type="text" id="cpf" formControlName="cpf" inputmode="numeric" maxlength="11" mask="000.000.000-00"
				maskPlaceholder="___.___.___-__" maskSpecialCharacters="0" maskShowMask="true"
				maskClearIfNotMatch="true" maskValidate="true" maskValidateCustom="true"
				maskValidateCustomMessage="CPF inválido" placeholder="___.___.___-__">
			@if (cadastroForm.get('cpf')?.invalid && (cadastroForm.get('cpf')?.dirty ||
			cadastroForm.get('cpf')?.touched)) {
			@if (cadastroForm.get('cpf')?.errors?.['required']) {
			<mat-error> CPF é obrigatório.</mat-error>
			}
			@if (cadastroForm.get('cpf')?.errors?.['cpf']) {
			<mat-error> CPF inválido.</mat-error>
			}}
		</mat-form-field>
	</div>
	
	<div class="form-group">
		<mat-form-field>
			<mat-label for="senha">SENHA</mat-label>
			<input type="password" id="senha" formControlName="senha" #senha>
			@if (cadastroForm.get('senha')?.invalid && (cadastroForm.get('senha')?.dirty ||
			cadastroForm.get('senha')?.touched)) {
			@if (cadastroForm.get('senha')?.errors?.['required']) {
			<mat-error>Senha é obrigatória.</mat-error>
			}}
		</mat-form-field>
	</div>
	<div class="form-group">
		<mat-form-field>
			<mat-label for="confirmarSenha">CONFIRMAR SENHA</mat-label>
			<input type="password" id="confirmarSenha" formControlName="confirmarSenha" #confirmarSenha
				(input)="checarSenhas(senha.value, confirmarSenha.value)">
			@if (cadastroForm.get('confirmarSenha')?.invalid && (cadastroForm.get('confirmarSenha')?.dirty ||
			cadastroForm.get('confirmarSenha')?.touched)) {
			@if (cadastroForm.get('confirmarSenha')?.errors?.['required']) {
			<mat-error>Confirmar senha é obrigatório.</mat-error>}
			}
		</mat-form-field>
	</div>
	<button type=" submit" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
	<button type="button" class="btn btn-secondary" routerLink="/login">Login</button>
</form>